<h1>Mailbox</h1>

<ul>
	<li>
		<h2>notifications</h2>
		<%= current_user.mailbox.notifications.inspect %>
	</li>
	<li>
		<h2>inbox</h2>
		<ul>
			<% current_user.mailbox.inbox.each do |conversation| %>
				<% conversation.messages.each do |m| %>
					<li><%= link_to "#{m.subject}", root_path %></li>
				<% end %>
			<% end %>
		</ul>
	</li>
	<li>
		<h2>sentbox</h2>
		<ul>
			<% current_user.mailbox.sentbox.each do |conversation| %>
				<% conversation.messages.each do |m| %>
					<li><%= link_to "#{m.subject}", root_path %></li>
				<% end %>
			<% end %>
		</ul>
	</li>
	<li>
		<h2>trash</h2>
		<%= current_user.mailbox.trash.inspect %>
	</li>
</ul>
