<section class="users">
	<% @users.each do |user| %>
		<section class="user">
			<header>
				<h1><%= link_to "#{user.username}", user %></h1>
			</header>
			<p><%= pluralize("#{user.rides.count}", "rides") %> posted</p>
		</section>
	<% end %>
</section>
