<section class="user">
	<header>
		<h1><%= @user.name %></h1>
		</header>
		<p><%= link_to "#{pluralize(@user.rides.count, 'rides')} posted", user_rides_path(@user) %></p>
		<% if current_user == @user %>
			<p><%= link_to "messages", messages_path %></p>
		<% end %>
</section>
