<div id="splash_content">
	<h1>TRPN</h1>
	<p>Find rides all across the land. We're here to get you there.</p>
	<p>“What is that feeling when you're driving away from people and they recede on the plain till you see their specks dispersing? &ndash; it's the too&ndash;huge world vaulting us, and it's good-bye. But we lean forward to the next crazy venture beneath the skies.” &mdash; Jack Kerouac, On the Road</p>
	<p>Enter your email address and we'll notify you when we launch.</p>
	<%= render 'subscriptions/form' %>
</div>
