<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
		<div id="error_explanation">
			<p>Wait a second . . .</p>

			<ul>
			<% @subscription.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
	  </div>	
	<% end %>

  <div class="field">
		<%= f.text_field :email, :placeholder => "email@example.com" %>
	</div>

  <div class="actions">
		<%= f.submit :value => "Notify me when the app is available" %>
  </div>
<% end %>
