<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>TRPN</h1>
		<p>We just wanted to let you know you've successfully signed up to our launch notification list. Our app will be available soon and you'll be amongst the first to know.</p>
		<p>Thanks! You'll be hearing from us shortly.<p>
		<p>Sincerely,<br />TRPN HQ</p>
  </body>
</html>
