<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to TRPN.</h1>
    <p>
      You have successfully signed up to TRPN's launch notification list,
      with the email: <%= @subscription.email %>.<br/>
    </p>
    <p>Thanks for joining our list and have a great day!</p>
  </body>
</html>
