<% if ride.messages.any? %>
	<p>This ride has been messaged <%= pluralize(ride.messages.count, "time") %>.
		<% if ride.user == current_user %>
			<%= link_to "Show messages", user_ride_messages_path(current_user, ride) %>
		<% end %>
	</p>
<% else %>
	<p>No one has messaged this ride.</p>
<% end %>
