<section class="ride-actions">
	<% if (current_user && (ride.user == current_user)) %>
		<%= link_to "Edit", edit_user_ride_path(current_user, ride) %> |
	<% end %>

	<% if @user %>
		<%= link_to 'Back', user_rides_path(@user) %>
	<% else %>	
		<%= link_to 'Back', rides_path %>
	<% end %>

	<% if (current_user && (ride.user == current_user)) %>
		| <%= link_to "Destroy", ride, method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>
</section>
