<p>
  <b>Title:</b>
  <%= @ride.title %>
</p>

<p>
	<b>posted by:</b>
	<%= @username %>
</p>

<p>
  <b>Description:</b>
  <%= @ride.description %>
</p>

<p>
  <b>Request:</b>
  <%= @ride.request %>
</p>
